.container {
  display: flex;
  flex-direction: row;
  -webkit-app-region: drag;

  .running {
    margin: 5px;
  }

  .title {
    flex-grow: 1;
    font-size: 18px;
    padding: 10px;
  }

  button.close:hover {
    background-color: red;
    color: white;
  }
}
