.container {
  display: flex;
  flex-direction: row;
  align-items: center;

  .label {
    flex-grow: 1;
    margin: 8px 5px;
  }

  .remove {
    visibility: hidden;
  }

  &:hover {
    .remove {
      visibility: visible;
    }
  }
}
