.container {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  .label {
    flex-grow: 1;
    margin: 5px;
  }

  .remove {
    visibility: hidden;
    align-self: center;
  }

  &:hover {
    .remove {
      visibility: visible;
    }
  }
}
