.container {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  .label {
    flex-grow: 1;
	}

	button {
		visibility: hidden;
	}
	
	&:hover {
		button {
			visibility: visible;
		}
	}
}
